body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#667eea,#764ba2);
font-family:Arial;
}

.calculator{
background:#222;
padding:20px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.5);
}

#display{
width:100%;
height:50px;
margin-bottom:15px;
font-size:22px;
text-align:right;
padding-right:10px;
border-radius:8px;
border:none;
background:#fff;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,70px);
gap:10px;
}

button{
height:55px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
background:#444;
color:white;
transition:0.2s;
}

button:hover{
background:#666;
}

button:active{
background:#888;
}
